/*css初始化*/
@charset "utf-8";
/* CSS Document */
*{font-family:"STHeitiSC Medium", arial,"Hiragino Sans GB","Hiragino Sans GB W3",\5b8b\4f53;
margin:0; padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
} 
:focus {
    outline: 0;
} 
a{outline: none;} 
a:focus{outline: none; -moz-outline:none;} 

a, a:link, a:visited, a:hover, a:active{
    text-decoration:none
} 
table {
    border-collapse: separate;
    border-spacing: 0;
} 
th, td {
    text-align: left;
    font-weight: normal;
} 
img, iframe {
    border: none;
    text-decoration:none;
} 
ol, ul {
    list-style: none;
} 
input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
    box-sizing: content-box;
} 
select {
    margin: inherit;
} 
hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px
}
.clearfix:after{clear:both; content:"."; display:block; height:0; visibility:hidden;}
