<!DOCTYPE html>
<html>
<head>
  <title>修改页面</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="__STATIC__/reset.css">
  <link rel="stylesheet" href="__CSS__/upd.css">
  <script src="__STATIC__/jquery.js"></script>
</head>
<body>
  <p>修改以下信息</p>
  <div id="content">
    <form action="__SELF__" method="post">
<!--       <div class="hang">
        <laber>id：</laber>
        <input type="text" class="id" name="id" value="{$data.id}" />
      </div>     
 -->      
      <div class="hang">
        <laber>账号：</laber>
        <input type="text" class="username" name="username" value="{$data.username}" />
      </div>
      <div class="hang">
        <laber>密码：</laber>
        <input type="password" class="password" name="password" value="{$data.password}" />
      </div>
      <div class="hang">
        <laber>姓名：</laber>
        <input type="text" class="name" name="name" value="{$data.name}" />
      </div>
      <div class="hang">
        <laber>性别：</laber>
        <input type="text" class="sex" name="sex" value="{$data.sex}" />
      </div>
      <div class="hang">
        <laber>年龄：</laber>
        <input type="text" class="age" name="age" value="{$data.age}" />
      </div>
      <div class="hang">
        <laber>手机号：</laber>
        <input type="text" class="tell" name="tell" value="{$data.tell}" />
      </div>
      <div class="hang">
        <laber>QQ号：</laber>
        <input type="text" class="qq" name="qq" value="{$data.qq}" />
      </div>
      <input type="button" class="btn" value='确定修改'/>

    </form>  
  </div>
  
<script>
$(function(){
	$(".btn").click(function(){
		var self = $(this).parent('form');
		$.post(self.attr("action"),self.serialize(),function(data){
			$("p").text(data);
		});
	});

})
</script>
  
 
</body>
</html>