<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<!-- viewport meta to reset iPhone inital scale -->
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>首页</title>
<link rel="stylesheet" type="text/css" href="__CSS__/jianli.css"/>
<script src="__STATIC__/zepto.js"></script>
<script src="__JS__/jianli.js"></script> 
</head>
<body>
   <include file="Public:header" />
   <div id="main">
	  <div class="top_pic">
		<div class="pic"><img src="__IMG__/jianli/img.png"/></div>
	  </div>
	  
	  <div class="xinxi">
		<p class="name" name="name">{$jianli[name]}</p>
		<p class="xingge"><span>真诚</span><span>自信</span><span>幽默</span></p>
		<p class="wo">对前端充满兴趣，对互联网的世界满怀期待，对工作绝对负责，这就是我！</p>
	  </div>
	  
	  <div class="base">
		<div class="top"><span>基本信息</span></div>
		<div class="bottom">
			<p><span class="s1">性别：</span><span class="s2" name="sex">{$jianli[sex]}</span></p>
			<p><span class="s1">出生年份：</span><span class="s2">本科</span></p>
			<p><span class="s1">婚姻状况：</span><span class="s2">未婚</span></p>
			<p><span class="s1">毕业学校：</span><span class="s2">{$jianli[school]}</span></p>
			<p><span class="s1">所属专业：</span><span class="s2">计算机科学与技术</span></p>
			<p><span class="s1">我的学历：</span><span class="s2">本科</span></p>
			<p><span class="s1">语言能力：</span><span class="s2">英语四级</span></p>
			<p><span class="s1">我的爱好：</span><span class="s2">旅游 DIY 运动</span></p>
		</div>
	  </div>
	  
	  <div class="qiuzhi">
		<div class="top"><span>求职意向</span></div>
		<div class="bottom">
			<p><span class="s1">期望职位：</span><span class="s2">web前端开发工程师/产品经理</span></p>
			<p><span class="s1">期望城市：</span><span class="s2">青岛</span></p>
			<p><span class="s1">期望薪资：</span><span class="s2">6K-10K</span></p>
			<p><span class="s1">工作经验：</span><span class="s2">实习阶段</span></p>
			<p><span class="s1">现在状态：</span><span class="s2">离职 寻找新机会</span></p>
		</div>
	  </div>
	  
	  <div class="lianxi">
		<div class="top"><span>联系方式</span></div>
		<div class="bottom">
			<p><span class="s1">邮箱：</span><span class="s2">524376211@qq.com</span></p>
			<p><span class="s1">电话：</span><span class="s2">18553224863</span></p>
			<p><span class="s1">微信：</span><span class="s2">524376211@qq.com</span></p>
			<p><span class="s1">QQ：</span><span class="s2">524376211</span></p>
		</div>
	  </div>

	  <div class="jingyan">
		<div class="top"><span>工作经历</span></div>
		<div class="bottom">
		    <div class="one">
			  <div class="time">实习时间：6个月</div>
			  <div class="zhiwei">web前端开发工程师</div>
			  <div class="gongsi">青岛云动天下文化传媒有限公司</div>
			</div>
		    <div>
			  <div class="time">实习时间：6个月</div>
			  <div class="zhiwei">web前端开发工程师</div>
			  <div class="gongsi">青岛云动天下文化传媒有限公司</div>
			</div>
		    <div>
			  <div class="time">实习时间：6个月</div>
			  <div class="zhiwei">web前端开发工程师</div>
			  <div class="gongsi">青岛云动天下文化传媒有限公司</div>
			</div>
		</div>
	  </div>
	  
	  <div class="jineng">
		<div class="top"><span>擅长技能</span></div>
		<div class="hang hang1 clearfix">
		   <div class="name clearfix">
		     <span class="s1">Photoshop</span><span class="s2">精通</span>
		   </div>
		   <div class="tiao_out">
			 <div class="tiao_in tiao1"></div>
		   </div>		   
		</div>
		<div class="hang clearfix">
		   <div class="name clearfix">
		     <span class="s1">Thinkphp</span><span class="s2">专家</span>
		   </div>
		   <div class="tiao_out">
			 <div class="tiao_in tiao2"></div>
		   </div>		   
		</div>
		<div class="hang clearfix">
		   <div class="name clearfix">
		     <span class="s1">HTML</span><span class="s2">熟悉</span>
		   </div>
		   <div class="tiao_out">
			 <div class="tiao_in tiao3"></div>
		   </div>		   
		</div>
		<div class="hang clearfix">
		   <div class="name clearfix">
		     <span class="s1">JS</span><span class="s2">了解</span>
		   </div>
		   <div class="tiao_out">
			 <div class="tiao_in tiao4"></div>
		   </div>		   
		</div>
		<div class="hang clearfix">
		   <div class="name clearfix">
		     <span class="s1">CSS</span><span class="s2">精通</span>
		   </div>
		   <div class="tiao_out">
			 <div class="tiao_in tiao5"></div>
		   </div>		   
		</div>
		<div class="hang clearfix">
		   <div class="name clearfix">
		     <span class="s1">PHP</span><span class="s2">专家</span>
		   </div>
		   <div class="tiao_out">
			 <div class="tiao_in tiao6"></div>
		   </div>		   
		</div>
	  </div>  
	  
	  <div class="zuopin">
		<div class="top"><span>作品展示(链接)</span></div>
		<div class="bottom">
		  <a href="http://www.jystreet.com" target="_blank">www.jystreet.com</a>
		</div>
	  </div>

	  <div class="zixuan">
		<div class="top"><span>自选问题</span></div>
		<div class="bottom">
			<p class="p1">问答：当你早上在公司楼下挤电梯，刚好挤入电梯人群，电梯报警超重，马上你就要迟到了，公司规定迟到扣除当月奖金，你这时会怎么办？</p>
			<p class="p2">首先我非常热爱互联网，曾设计统筹多款APP应用的开发，对互联网特别是移动互联用户及市场有独到理解和思维，创新是我的最大特点，没有创新就没有市场，没有颠覆就没有空间，这是我长久以来积累的经验，从产品创新设计到框架设计到美工再到编码，所有流程和细节都在我脑子里反复测试，从用户从平台从市场三方角度去审视自己的创新产品，个人认为自己的能力足以协调统筹一款互联网产品规划工作。</p>
		</div>
	  </div>

	  <ul id="nav">
		   <li class="li1"><a href="index.html">首页</a></li>
		   <li class="li2"><a href="tuijian.html">职位推荐</a></li>
		   <li class="li3"><a class="addcolor" href="jianli.html">我的简历</a></li>
	  </ul>
	  
   </div>
	


</body>
</html>
